body {
    font-family: sans-serif;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#chat-container {
    background-color: #333;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 300px;
    margin-bottom: 20px;
}

.message {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.you {
    background-color: #f0f0f0;
    color: #333;
    text-align: right;
}

.me {
    background-color: #4CAF50;
    text-align: left;
}

#footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
}

#footer p {
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

a {
    color: #4CAF50;
    text-decoration: none;
}